{% load static %}
<header class="headerContainer">
  <!-- header left group -->
  <div class="headerLeft">
    <a href="{% url 'index' %}" class="headerTitle">
      <img src="{% static 'images/logo.png' %}" alt="Home" />
    </a>
    <a class="headerLinkText slideUnderlineGreen" href="#">New Arrivals</a>
    <a class="headerLinkText slideUnderlineGreen" href="#">Denim</a>
    <a class="headerLinkText slideUnderlineGreen" href="#">Shirts</a>
    <a class="headerLinkText slideUnderlineGreen" href="#">Track Orders</a>
  </div>
  <!-- header left hamburger menu (max-width: 768px) -->
  <div class="headerHamburger">
    <img id="hamburgerOpen" src="{% static 'images/HamburgerMenu.svg' %}" alt="Menu" />
  </div>
  <!-- header right group -->
  <div class="headerRight">
    <a href="{% url 'cart' %}">
      <img id="cartBtn" src="{% static 'images/cart.svg' %}" alt="Cart" />
    </a>
    {% if not user.is_authenticated %}
    <a href="{% url 'login' %}">
      <img id="profileBtnIfCond" src="{% static 'images/profile.svg' %}" alt="Profile" />
    </a>
    {% else %}
    <img id="profileBtn" src="{% static 'images/profile.svg' %}" alt="Profile" />
    {% endif %}
  </div>
  <div id="profileDropdown" class="profileDropdown">
    {% if user.is_authenticated %}
      <a href="{% url 'index' %}">Account</a>
      <a href="{% url 'logout' %}">Log Out</a>
    {% else %}

    {% endif %}
    {% if user.is_authenticated and user.is_staff %}
      <p>Admin</p>
    {% endif %}
  </div>
</header>
<div id="hamburgerMenuOverlay" class="hamburgerMenuOverlay"></div>
<div id="hamburgerMenuContainer" class="hamburgerMenuContainer">
  <div>
    <img id="hamburgerClose" src="{% static 'images/HamburgerClose.svg' %}" alt="Close" />
  </div>
  <div>New Arrivals</div>
  <div>Denim</div>
  <div>Shirts</div>
  <div>Track Orders</div>
</div>