:root{
  --main: #ffffff;
  --accent: #005c48;
  --accenthover: #013328;
  --border2px: solid #ccc 2px;
  --border1px: solid #ccc 1px; 
  --accenthoveropposite: #2f181b;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* GLOBAL EFFECTS */

/* SLIDE IN UNDERLINE */
.slideUnderline {
color: white;
text-decoration: none;
background-image: linear-gradient(white, white);
background-size: 0% 0.1em;
background-position-y: 100%;
background-position-x: 0%;
background-repeat: no-repeat;
transition: background-size 0.2s ease-in-out;
}
.slideUnderline:hover,
.slideUnderline:focus,
.slideUnderline:active {
background-size: 100% 0.1em;
}

/* SLIDE IN YUNDERLINE GREEN VERSION */
.slideUnderlineGreen {
color: var(--accenthover);
text-decoration: none;
background-image: linear-gradient(var(--accenthover), var(--accenthover));
background-size: 0% 0.1em;
background-position-y: 100%;
background-position-x: 0%;
background-repeat: no-repeat;
transition: background-size 0.2s ease-in-out;
}
.slideUnderlineGreen:hover,
.slideUnderlineGreen:focus,
.slideUnderlineGreen:active {
background-size: 100% 0.1em;
}

/* TOPBAR STYLES */
.topbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  height: 40px;
  background-color: var(--accenthover);
  top: 0;
  padding: 0 1.5rem 0 1.5rem;
  border-bottom: 0.1rem solid #ccc;
  width: 100%;
  color: white;
  box-sizing: border-box;
}
.topbarContainer p {
  font-size: 1.2rem;
}
.topbarContainer .countdownContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.topbarContainer #saleTimer {
  color: red;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}
.topbarContainer #socialsContainer {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}
#socialsContainer a {
  color: white;
  text-decoration: none;
}
@media (max-width: 768px) {
  #socialsContainer {
    display: none;
  }
  .topbar2 {
    display: none;
  }
  .countdownContainer {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
/* HEADER STYLE */
.headerContainer {
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  z-index: 3;
  height: 80px;
  background-color: var(--main);
  top: 0px;
  padding: 0;
  border-bottom: #ccc 0.1rem solid;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1.5rem 0 1.5rem;
}
.headerLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.headerLeft img {
  height: 45px;
}
.headerLeft a {
  text-decoration: none;
  color: var(--accenthover);
  font-size: 1.2rem;
}
.headerRight {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.headerRight #cartBtn {
  cursor: pointer;
}
.headerRight #profileBtn {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.profileDropdown {
  position: absolute;
  width: 6rem;
  background-color: #013328;
  color: white;
  right: 1.5rem;
  top: 80px;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  border-radius: 8px;
  min-width: 100px;
  gap: 1rem;
  padding: 1rem 0 1rem 0;
}
.profileDropdown a {
  color: white;
  text-decoration: none;
}
.profileDropdownActive {
  display: flex !important;
}
.headerHamburger {
  display: none;
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}
#hamburgerOpen {
  display: block;
  cursor: pointer;
}
.hamburgerActive {
  display: none !important;
}
#hamburgerClose {
  display: none;
}
.hamburgerCloseActive {
  display: block !important;
  cursor: pointer;
}
@media (max-width: 900px) {
  .headerLeft a {
    font-size: 1rem;
  }
  .headerLeft {
    gap: 1.2rem;
  }
}
@media (max-width: 768px) {
  .headerLeft .headerLinkText {
    display: none;
  }
  .headerLeft img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .headerHamburger {
    display: block;
  }
}

/* HAMBURGER MENU */
.hamburgerMenuContainer {
  display: none;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: var(--accenthover);
  height: 300px;
  width: 100%;
  bottom: 0;
  z-index: 10;
}
.hamburgerMenuContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 80%;
  border-bottom: 2px solid #ccc;
}
.hamburgerMenuOverlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
}
/* FOOTER STYLES */
.footerContainer {
  width: 100%;
  height: 300px;
  background-color: var(--accenthover);
  bottom: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 2rem;
}
.footerTop {
  width: 100%;
  height: 15%;
  gap: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--accenthover);
}
.footerTop a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
.footerMiddle{
  margin: 0;
  display: flex;
  height: 70%;
  width: 100%;
  flex-direction: row;
  box-sizing: border-box;
  padding: 1rem 0;
}


.footer0{
  display: flex;
  flex-direction: column;
  flex: 3.5;
  justify-content: space-between;
}
.footer0 .footerLogo{
  width: 33.3%;
  height: auto;
}
.footer0 .footerSocials{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: .8rem;
}
.footer0 .footerSocials a{
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
}
.footer0 .footerSocials a:hover{
  transform: scale(1.2);
}
.footer0 form{
  display: flex;
  width: 50%;
  border: #757575 1px solid;
  height: 3rem;
}
.footer0 .inputEmail{
  flex: 8;
  padding: 0 0 0 1rem;
  border: none;
}
.footer0 .inputSubscribe{
  flex: 4;
  padding: 0;
  border: none;
  color: white;
  background-color: var(--accenthover);
  cursor: pointer
}


.footer1{
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 0;
}
.footer1 .footer1Header{
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}
.footer1 a{
  font-size: 1rem;
  color: white;
  text-decoration: none;
  margin-bottom: 0.3rem;
}
.footer1 a:hover{
  text-decoration: underline;
} 


.footer2{
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 0;
}
.footer2 .footer2Header{
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}
.footer2 a{
  font-size: 1rem;
  color: white;
  text-decoration: none;
  margin-bottom: 0.3rem;
}
.footer2 a:hover{
  text-decoration: underline;
} 