/* START LANDING IMAGE GRID */
.landingImageGrid {
  width: 100%;
  display: flex;
}
.landingImageGrid > img,
.landingImageGrid > figure {
  flex: 1;
  position: relative;
  overflow: hidden;
  margin: 0;
}
.landingImageGrid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.landingImageGrid figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.landingImageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
  background: transparent;
}
/* END LANDING IMAGE GRID */

/* START PRODUCT LISTING IMAGE GRID */
.productGridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin: 2rem auto;
}
@media (max-width: 820px) {
  .productGridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
.productFirstDiv {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
}
.productFirstDiv h1 {
  font-size: 2rem;
  margin-top: 40%;
}
.productFirstDivButton {
  margin-top: 30%;
  color: white;
  background-color: var(--accenthover);
  border: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: 1rem;
  transition: 0.2s all ease-in-out;
}
.productFirstDivButton:hover {
  background-color: var(--accent);
}
.productFigure {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0.5rem 0;
  margin: 0;
}
.productFigure a {
  text-decoration: none;
  color: black;
}
.productFigureImage {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.productFigureDetails {
  margin: 1rem;
}
.productTitle {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-weight: 600;
}

.productPrice {
  color: #444;
}

/* END IMAGE GRID */
