.gridContainer{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}


.imageGridContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex: 9 1 0;
  min-width: 0;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}
.imageContainer {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  object-fit: cover;
}
.imageContainer img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}



.detailsContainer{
  flex: 6 1 0;
  min-width: 0;
  width: 100%;
  background-color: #ccc;
  height: 500px;
  transform: translateY(1rem);
  position: sticky;
  top: calc(80px - 1rem);
  padding-bottom: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detailsContainer p, h1{
  margin: 0;
  padding: 0;
}
.detailsContainer h1 {
  font-size: clamp(1.2rem, 2.5vw, 2rem);
}

.detailsContainer p {
  font-size: clamp(0.9rem, 1.8vw, 1.2rem);
}



@media (max-width: 800px) {
  .gridContainer {
    flex-direction: column;
  }

  .imageGridContainer {
    flex: none;
    width: 100%;
  }

  .detailsContainer {
    flex: none;
    width: 100%;
    position: static;
    transform: none;
    height: auto;
    margin-top: 0;
  }
}



/* .gridContainer {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-bottom: 2rem;
}
.gridContainer .productImageGridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.gridContainer .imageContainer {
  margin: 0;
  padding: 0;
  width: 100%;
  aspect-ratio: 1/1;
}
.gridContainer .imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.productDetailsContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.productDetailsContainer .productTags {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.productTags p {
  font-size: 1rem;
  background-color: #ccc;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  margin-bottom: 1rem;
}
.productInformation {
  margin-bottom: 3rem;
}
.productTitle {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}
.productPrice {
  font-size: 1.8rem;
  font-weight: 600;
}
.productVariantSizes {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  margin-bottom: 1rem;
}
.ProductSizeRow{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.productSizeButtons {
  border: 2px solid black;
  border-radius: 4px;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  cursor: pointer;
  background-color: #fff;
  transition: 0.2s;
}
.productSizeButtons.active {
  background-color: #111;
  color: #fff;
  border-color: #111;
}
.add-to-cart-btn {
  padding: 10px 20px;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}
.add-to-cart-btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
.productSizeButtons.active-size {
  border: 2px solid var(--accent);
  background-color: var(--accent);
  color: white;
} */
