<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" 
    rel="stylesheet"
    >
</head>
<body>
    <div class="loginContainer">
        <div class="loginLogo">
            <img src="{% static 'images/logo.png' %}"/>
        </div>
        <div class="loginText">
            <h1>Sign Up</h1>
        </div>

        <div class="loginFormContainer">
            <form id="signupForm" method="post">
                {% csrf_token %}
                <!--EMAIL INPUT-->
                <div class="loginEmailContainer">
                    <p>Email</p>
                    <input id="signupInput" type="email" name="email" placeholder="Enter your Email" required>
                    {% if form.email.errors %}
                    <div class="formErrors">
                        {{ form.email.errors }}
                    </div>
                    {% endif %}
                </div>
                <!--PASSWORD 1 INPUT-->
                <div class="loginPasswordContainer loginPassword1Container">
                    <p>Password</p>
                    <input type="password" name="password1" placeholder="Enter your Password" required>
                    {% if form.password1.errors %}
                    <div class="formErrors">
                        {{ form.password1.errors }}
                    </div>
                    {% endif %}
                </div>
                <!--PASSWORD 2 INPUT-->
                <div class="loginPasswordContainer">
                    <p>Confirm Password</p>
                    <input type="password" name="password2" placeholder="Confirm your Password" required>
                    {% if form.non_field_errors %}
                    <div class="formErrors">
                        {{ form.non_field_errors }}
                    </div>
                    {% endif %}

                </div>


                <div class="loginButton">
                    <button form="signupForm" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
        <div class="signUpLink">
            <p>Already have an account?</p>
            <a href="{% url 'login' %}">Login</a>
        </div>

    </div>
</body>
</html>