<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" 
    rel="stylesheet"
    >
</head>
<body>
<div class="debugPixelSize">
    <p id="debugPixelText1"></p>-<p id="debugPixelText2"></p>
</div>
    <div class="loginSignupPicture">
        <img src="{% static 'images/IMG_2633.JPG' %}">
    </div>

    <div class="loginSignupContainer">
        <a href="{% url 'index' %}">
            <img src="{% static 'images/logo.png' %}">
        </a>
        <h1>Sign Up</h1>
        <div class="formsContainer">
            <form id="signupForm" method="post">
                {% csrf_token %}
                <!-- NAME INPUT -->
                <div class="nameContainer">
                    <p class="formInfoText">Name</p>
                    <input id="signupInput" type="name" name="name" placeholder="Enter Your Name" required>
                    {% if form.name.errors %}
                    <div class="formErrors">
                        {{ form.name.errors }}
                    </div>
                    {% endif %}
                </div>
                <!--EMAIL INPUT-->
                <div class="loginEmailContainer">
                    <p class="formInfoText">Email</p>
                    <input id="signupInput" type="email" name="email" placeholder="Enter your Email" required>
                    {% if form.email.errors %}
                    <div class="formErrors">
                        {{ form.email.errors }}
                    </div>
                    {% endif %}
                </div>
                <!--PASSWORD 1 INPUT-->
                <div class="loginPasswordContainer loginPassword1Container">
                    <p class="formInfoText">Password</p>
                    <input type="password" name="password1" placeholder="Enter your Password" required>
                    {% if form.password1.errors %}
                    <div class="formErrors">
                        {{ form.password1.errors }}
                    </div>
                    {% endif %}
                </div>
                <!--PASSWORD 2 INPUT-->
                <div class="loginPasswordContainer">
                    <p class="formInfoText">Confirm Password</p>
                    <input type="password" name="password2" placeholder="Confirm your Password" required>
                    {% if form.non_field_errors %}
                    <div class="formErrors">
                        {{ form.non_field_errors }}
                    </div>
                    {% endif %}
                </div>

                <div class="loginButtonContainer">
                    <button form="signupForm" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>

    {% comment %} <div class="loginContainer">
        <div class="loginLogo">
            <img src="{% static 'images/logo.png' %}"/>
        </div>
        <div class="loginText">
            <h1>Sign Up</h1>
        </div>

        <div class="loginFormContainer">
            <form id="signupForm" method="post">
                {% csrf_token %}
                <!-- NAME INPUT -->
                 <div class="nameContainer">
                    <p>Name</p>
                    <input id="signupInput" type="name" name="name" placeholder="Enter Your Name" required>
                    {% if form.name.errors %}
                    <div class="formErrors">
                        {{ form.name.errors }}
                    </div>
                    {% endif %}
                 </div>
                <!--EMAIL INPUT-->
                <div class="loginEmailContainer">
                    <p>Email</p>
                    <input id="signupInput" type="email" name="email" placeholder="Enter your Email" required>
                    {% if form.email.errors %}
                    <div class="formErrors">
                        {{ form.email.errors }}
                    </div>
                    {% endif %}
                </div>
                <!--PASSWORD 1 INPUT-->
                <div class="loginPasswordContainer loginPassword1Container">
                    <p>Password</p>
                    <input type="password" name="password1" placeholder="Enter your Password" required>
                    {% if form.password1.errors %}
                    <div class="formErrors">
                        {{ form.password1.errors }}
                    </div>
                    {% endif %}
                </div>
                <!--PASSWORD 2 INPUT-->
                <div class="loginPasswordContainer">
                    <p>Confirm Password</p>
                    <input type="password" name="password2" placeholder="Confirm your Password" required>
                    {% if form.non_field_errors %}
                    <div class="formErrors">
                        {{ form.non_field_errors }}
                    </div>
                    {% endif %}

                </div>


                <div class="loginButton">
                    <button form="signupForm" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
        <div class="signUpLink">
            <p>Already have an account?</p>
            <a href="{% url 'login' %}">Login</a>
        </div>

    </div> {% endcomment %}
    <script>
        // DEBUG ONLY
          // Wait until DOM is ready so elements exist
          document.addEventListener('DOMContentLoaded', function () {
            const Pixel1 = document.getElementById("debugPixelText1");
            const Pixel2 = document.getElementById("debugPixelText2");
      
            function updatePixelText() {
              Pixel1.textContent = window.innerWidth;
              Pixel2.textContent = window.innerHeight;
      
              requestAnimationFrame(updatePixelText);
            }
            updatePixelText();
          });
      </script>
</body>
</html>